.jumbotron {
    p {
        margin-bottom: 15px;
        font-size: 21px;
        font-weight: 200;
    }
    .nav-item {
        &.active {
            .nav-link {
                background: #fff;
            }
        }
        .nav-link {
            &:hover {
                background: #fff;
            }
        }
    }
}

a {
    color: #337ab7;
    text-decoration: none;
}