// @import "normalize";
// @import "_customVariables"; // custom bootstrap files must be placed before bootstrap proper!
// @import "bootstrap";
// @import "buttons";
// @import "main";

@import "normalize";
@import "~bootstrap/scss/bootstrap";
@import "_custom";
@import "buttons";
@import "main";