$xs: 'min-width: 480px';
$sm: 'min-width: 768px';
$md: 'min-width: 992px';
$lg: 'min-width: 1200px';

$xs-max: 'max-width: 480px';
$sm-max: 'max-width: 768px';
$md-max: 'max-width: 992px';
$lg-max: 'max-width: 1200px';$xs-max: 'max-width: 480px';
$sm-max: 'max-width: 768px';
$md-max: 'max-width: 992px';
$lg-max: 'max-width: 1200px';