.intro-skills {
    margin-top: 50px;
}

.jumbotron {
    padding-bottom: 0;
    border-bottom: 1px solid #ddd;
}

.nav-tabs {
    border-bottom: 0;
}

.splash h3 {
    font-size: 21px;
    font-weight: 200;
    text-align: center;
}

.splash img {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.normal-footer {
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}

.normal-footer p {
    margin-top: 20px;
}

.project {
    margin-bottom: 30px;
}

.company-name {
    margin-bottom: 10px;
    display: inline-block;
}

.admin-controls {
    margin-top: 10px;
}

ul.projects-container,
ul.companies-container {
    padding: 0;
}

ul.companies-container li {
    padding: 5px 5px 5px 0;
}

li.company,
li.company li {
    list-style: none;
}

li.company ul {
    padding: 0;
}

ul.companies-container li {
    list-style: none;
}

.navbar-form input[type="text"],
.navbar-form input[type="password"] {
    margin-right: 5px;
}

.add-fields .description,
.edit-project .description {
    min-height: 150px;
}