    <div class="main contact">
        <div class="intro">
            <h1>Project Directory</h1>
            <p>React/ Redux, NodeJS and MongoDB CRUD Application</p>
            <p>Contact template</p>
        </div>

        <div id="root"></div>

        <div class="container">
            {{> page/footer}}
        </div>
    </div>