    <div class="intro">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Project Directory</h1>
                    <p>There appears to have been an error.</p>
                </div>
            </div>
        </div>
    </div>