    <div class="main" data-api-url="{{config.url}}">
        <div class="intro">
            <div class="container">
                <h1>
                Project Directory
                </h1>
                <a href="{{#if loggedin}}/logout{{else}}/login{{/if}}">
                {{#if loggedin}}
                    LOG OUT
                {{else}}
                    LOG IN
                {{/if}}
                </a>
                <p class="introl-skills">React/ Redux, NodeJS and MongoDB CRUD Application</p>
            </div>
        </div>

        <div id="root"></div>

        <div class="container">
            {{> page/footer}}
        </div>
    </div>