    <div class="main login">
        <div class="intro">
            <h1>Project Directory</h1>
            <p>React/ Redux, NodeJS and MongoDB CRUD Application</p>
            <p>Login template</p>
        </div>

        <div id="root"></div>

        <div class="container">
            <footer>
                <p>&copy; Joe Burton - 2016</p>
            </footer>
        </div>
    </div>