    <div class="intro">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Project Directory</h1>
                    <p>React/ Redux, NodeJS and MongoDB CRUD Application</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div id="projects"></div>
        <footer>
            <p>&copy; Joe Burton - 2016</p>
        </footer>
    </div>