$link-decoration: underline;

$gray-700: #575757; // this will affect all colors defined by $gray-700 variables

$link-color: $gray-700; // you can use “Bootstrap’s” variable here, because it was defined before.