body {
    font-family: Verdana, Helvetica, Sans-serif;
    font-size: 12px;
}

.main {
    margin: 0 auto;
    max-width: 600px;
    padding: 0 20px;
}

.hidden {
    display: none;
}

.main-nav li {
    display: inline-block;
    margin-right: 10px;
}

ul {
    margin: 10px 0 20px 0;
    padding: 0;
}

.projects-page ul li,
.companies-page ul li {
    list-style: none;
}

.projects-page ul li {
    padding-bottom: 15px;
}

.projects-page li span {
    margin: 0 0 4px 0;
}

.container h1 {
    display: inline-block;
}

.container a {
    float: right;
    margin-top: 23px;
}

/**
 * Generic overlay styles
 * 
 */
.close-icon {
    color: #fff;
    text-align: right;
    padding: 0;
    display: inline-block;
    float: right;
    font-size: 20px;
    text-decoration: none;
    margin-bottom: 10px;
}



/**
 * edit project overlay
 * 
 */
.edit-project {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.edit-project-overlay {
    background-color: #000;
    opacity: .7;
    width: 100%;
    height: 100%;
    position: relative;
}

.edit-fields-wrapper {
    position: absolute;
    width: 100%;
    margin: 0 auto;
    left: 0;
    top: 0;
    height: 100%;
}

.edit-fields {
    margin: 0 auto;
    margin-top: 90px;
    padding: 0 30px;
    max-width: 420px;
}




/**
 * add project overlay
 * 
 */
.add-project {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.add-project-overlay {
    background-color: #000;
    opacity: .7;
    width: 100%;
    height: 100%;
    position: relative;
}

.add-fields-wrapper {
    position: absolute;
    width: 100%;
    margin: 0 auto;
    left: 0;
    top: 0;
    height: 100%;
}

.add-fields {
    margin: 0 auto;
    margin-top: 90px;
    padding: 0 30px;
    max-width: 420px;
}


.projects-page li .project-item,
.projects-page li .project-item span {
    display: inline;
}




/**
 * Generic form elements
 * 
 */

textarea {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    font-size: 14px;
    padding: 10px 0 10px 10px;
    min-height: 100px;
}

input[type="text"],
input[type="password"] {
    display: block;
    margin-bottom: 10px;
    width: 99.5%;
    font-size: 14px;
    padding: 10px 0 10px 10px;
}

button {
    display: block;
    width: 20%;
    padding: 10px;
    margin: 0 auto;
}



/**
 * home page banner
 * 
 */
.project-banner {
    margin: 0 auto;
}

.project-banner b {
    text-align: left;
    display: block;
    margin-bottom: 20px;
}

.project-banner img {
    margin-bottom: 20px;
}


















